.Game {
    &-small {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 4rem 1rem;
        width: 15rem;
    }
    &-header {
        display: flex;
        flex-direction: column-reverse;
    }
    &-thumb {
        flex: 1;
        margin: 0 1rem 0 0;
        background: #333;
        padding: .5rem;
        text-align: center;
    }
    &-title {
        flex: 2;
        font-weight: bold;
        font-size: 11pt;
        margin: 0;
        margin-bottom: .5rem;
        color: #339;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: #55f;
            }
        }
    }
    &-description {
        word-wrap: break-word;
        flex: 1;
        max-width: 20rem;
        padding: .5rem 0;
        font-size: 10pt;
        color: #333;
    }
}
