html, body, #root {
    height: 100%;
}

.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 1rem;
  color: white;
  a {
      color: inherit;
      text-decoration: none;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header, .App-section {
  margin-bottom: 2rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
